#sidebarLeft>ul>li>a {
    padding: 8px 15px;
    color: #c5c5c5;
}
#sidebarLeft>ul {
    text-align: center;
}
#sidebarLeft>ul>li>a>i {
    font-size: 20px;
}
.marginTop5 {
    font-size: 12px;
    margin: 0px;
}